.env
.env.testing
.env.*
.DS_Store
.phpunit.result.cache
.idea
.vscode

Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
Thumbs.db

/node_modules
/storage/*.key
/vendor
/.vagrant
/vite.lock
/public/
/public/build
/public/hot
/public/storage

# Storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/storage/debugbar

/bootstrap/cache/*.php